# GitHub リポジトリ設定
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=main
GITHUB_PERSONAL_ACCESS_TOKEN=

# MongoDB 接続文字列（例: mongodb+srv://user:pass@cluster.mongodb.net/dbname）
MONGO_URI=

# NextAuth / Auth.js
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://your-site.netlify.app

# ローカル開発時（本番では削除またはfalseに設定）
TINA_PUBLIC_IS_LOCAL=true
